body {
  background-color: var(--lightgreen);
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.course-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: transparent;
  width: 100%;
}

.course-header p {
  margin-bottom: 2em;
}

.course-subheader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.course-description {
  width: 50%;
  font-size: 1.1em;
  background-color: var(--white);
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.course-actions {
  display: flex;
  gap: 1em;
  padding-bottom: 1em;
}

.course-actions button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1em;
  background: var(--white);
  border: 2px solid transparent;
  padding: 1em;
  border-radius: 15px;
  color: var(--black);
  box-sizing: border-box;
  transition: 0.3s;
}

.course-actions button:hover {
  background: var(--lightgreen);
  cursor: pointer;
  transition: 0.3s;
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 3em;
    padding-right: 3em;
  }

  nav {
    padding-left: 6em;
  }
}

.course-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  padding-top: 4em;
  color: var(--black);
}

@media screen and (max-width: 768px) {
  .course-content {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.course-members {
  padding: 0;
  list-style-type: none;
  padding-top: 1em;
}

.member {
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--black);
}

.member-name {
  padding: 0;
  margin: 0;
}

.member-email {
  padding: 0;
  margin: 0;
  font-style: italic;
}

.file-section {
  max-height: 20em;
  max-width: 40%;
}

.course-files {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
  padding-top: 1em;
  background-color: var(--white);
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-height: 20em;
}

.course-files h3,
h4 {
  padding: 0;
  margin: 0;
}

.course-files ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  overflow-y: auto;
}

.course-files ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-files ul li a {
  color: var(--bleudefrance);
  max-width: 70%;
  overflow-x: hidden;
  transition: 0.3s;
}

.course-files ul li a:hover {
  text-decoration: underline;
  color: purple;
}

.course-files ul li button {
  background-color: var(--bittersweet);

  border-radius: 15px;
  padding: 0.5em;
}

.file-form {
  display: flex;
  flex-direction: row;
  justify-items: start;
  gap: 1em;
  padding-top: 1em;
}

.file-form button {
  background-color: var(--lightgreen);
}

.file-form button:hover {
}

.file-label {
  background-color: var(--white);
  border-radius: 15px;
  padding: 1em;
  width: 100%;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.editor-box {
  margin-bottom: 1em;
}

#assignments-title {
  font-size: 2em;
  margin: 0;
}

.assignment-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style: none;
  padding: 0;
}

.assignment {
  display: flex;
  flex-direction: column;
  max-height: 10em;

  overflow: auto;
  gap: 1em;
  padding-top: 1em;
  background-color: var(--white);
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
